::-webkit-input-placeholder {
    color: rgba(215, 219, 221, 0.5);
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, .5);
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255, 255, 255, .5);
 }
 
 :-ms-input-placeholder {
    color: rgba(255, 255, 255, .5);
 }