{% extends 'get_your_resources/main.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-4"> 
      <div class="card text-white bg-secondary mb-3" style="max-width: 144rem; padding:0 10px;">
        <div class="card-header"><center>VACCINATION CENTER NAME</center></div>
        <div class="card-body">
            <center><p style="font-family:cooper black; color :rgb(0, 0, 0); font-size: 30px;">{{Vc_id.Vc_name}}</p></center>
          <h4 class="card-title"></h4>
          <p class="card-text"></p> 
        </div>
      </div>
    </div>
</div>
<br>
<div class= "row">
    <div class = "col">
        <div class="card card-body">

            <form method="get">
                {{myFilter.form}}

                <button class ="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
     </div> 
</div>  
<br>
<div class= "row">
    <div class = "col-md-12">
        <hr>
        <div class ="card card-body">
            <h4 style="color:rgb(16, 16, 24)"><center>RESOURCE DETAILS</center></h4>
            <table class="table table-striped">
                <tr class = "table-info">
                    <th scope ="row"></th>
                    <th>Resource</th>
                    <th>Resource quantity</th>
                    <th>Resource Availability</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for i in vcres %}
                    <tr>
                         <th>         </th>
                         <th> {{i.Res_name}}</th>
                         <th> {{i.Res_quantity}}</th>
                         <th> {{i.Availability}}</th>
                         <th> <a class= "btn btn-sm btn-info" href="{% url 'updateResourcesV' i.id %}">Update</a></th>
                         <th> <a class= "btn btn-sm btn-danger" href="{% url 'deleteV' i.id %}">Delete</a></th>

                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>  
{% endblock %}